@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f6fa;
  font-family: 'DM Sans', sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 15% 80%;
  gap: 5rem;
}

.sidebar {
  z-index: 1;
}

.nav {
  margin: 1.5rem;
}

/* media queries (medium device) */

@media screen and (max-width : 1024px ) {
  .main {
    gap: 2rem;
  }
}

/* media queries (small devices) */

@media screen and (max-width : 600px ) {
  .main {
    grid-template-columns: 5% 95%;
  }
}

